@page "/"
@inject HttpClient Http

<PageTitle>Index</PageTitle>
<h1>Pokedex</h1>

@if(Pokemon == null)
{
    <p>Unable to access Pokemon, please try again.</p>
} 
else {
    <div>
        <img src="@Pokemon.Image.front" alt="@Pokemon.Name">
        <p>I choose you, @Pokemon.Name!!</p>
    </div>
}

<p>Who is your favorite Pokemon?</p>
<input type="text" placeholder="Pikachu" @bind="newPokemon" />
<button @onclick="FetchPokemon">Fetch</button>


@code {
    private Pokemon? Pokemon = null;
    private string? newPokemon;
    private string? currentPokemon = "pikachu";
    protected override async Task OnInitializedAsync()
    {
        var res = await Http.GetAsync($"https://pokeapi.co/api/v2/pokemon/{currentPokemon}");
        if(res.IsSuccessStatusCode)
        {
            Pokemon = await res.Content.ReadFromJsonAsync<Pokemon>();
        } else {
            Pokemon = null;
        }
    }

    private async Task FetchPokemon()
    {
        currentPokemon = newPokemon;
        newPokemon = "";
        var res = await Http.GetAsync($"https://pokeapi.co/api/v2/pokemon/{currentPokemon}");
        if(res.IsSuccessStatusCode)
        {
            Pokemon = await res.Content.ReadFromJsonAsync<Pokemon>();
        } else {
            Pokemon = null;
        }
    }
}